html, body,
body > section,
.fill-parent {
  @include size(100%);
  margin: 0;
}

.about-body {

}

.home-body {

}

.projects-body {
  height: auto;
}

.blue {
  color: lighten($blue, 20) !important;
  border-color: lighten($blue, 20) !important;
}
.red {
  color: $red !important;
  border-color: $red !important;
}
.yellow {
  color: $yellow !important;
  border-color: $yellow !important;
}
.green {
  color: $green !important;
  border-color: $green !important;
}


@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
