html, body,
body > section,
.fill-parent {
  @include size(100%);
  margin: 0;
}

.about-body {
  height: auto;

  @include media($lg-medium-screen) {
    @include size(100%);
  }
}

.projects-body {
  height: auto;
}

.blue {
  color: lighten($blue, 20) !important;
  border-color: lighten($blue, 20) !important;
}
.red {
  color: $red !important;
  border-color: $red !important;
}
.yellow {
  color: $yellow !important;
  border-color: $yellow !important;
}
.green {
  color: $green !important;
  border-color: $green !important;
}


[ui-view] {
  @include transition(all 1s ease-in-out);
  opacity: 1;

  &.ng-hide {
    opacity: 0;
  }
}


@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
