.home-nav {
  .links {
    @include display(flex);
    @include justify-content(space-between);
  }

  .item {
    a {
      @include transition(all .3s ease-in-out);
      font-family: Tarantella;
      font-size: 4em;
      color: $medium-gray;
    }
  }
}
