.home {
  .top-content {
    @include display(flex);
    @include justify-content(center);
    padding-top: em(125);
    width: 100%;
  }

  .home-image-wrapper {
    @include animation(image-slide 2s 1.5s forwards ease-in-out);
    position: relative;
  }

  .name-title {
    @include animation(title-slide 2s 1.5s forwards ease-in-out);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: golden-ratio(45px, 1);
    color: $medium-gray;
    margin-top: .5em;
    width: 0;

    .subtite {
      @include animation(subtite-slide 2s 3.5s forwards ease-in-out);
      @include span-columns(5);
      @include shift(7);
      font-size: golden-ratio(45px, -1);
      width: 0;
    }
  }

  .navigation-items {
    @include justify-content(center);

    :first-child {
      margin-right: 1em;
    }

    :last-child {
      margin-left: 1em;
    }
  }

  .navigation {
    @include span-columns(10);
    @include shift(1);
    margin-top: em(80);
    color: $light-gray;

    .item a {
      @include transition(all .3s ease-in-out);
      font-family: Tarantella;
      font-size: 4em;
      color: $medium-gray;
    }

    .home-nav {
      a {
        position: relative;

        &:after {
          @include transition(all .4s ease-in-out);
          @include size(100%);
          content: attr(data-content);
          white-space: nowrap;
          position: absolute;
          overflow: hidden;
          line-height: 1em;
          color: $red;
          width: 0;
          height: 97%;
          left: 0;
          bottom: 2px;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}

@include keyframes(subtite-slide) {
  0% {
    width: 0%;
  }

  100% {
    width: 0%;
  }
}

@include keyframes(image-slide) {
  0% {
    right: 0;
  }

  100% {
    right: 3.5%
  }
}

@include keyframes(title-slide) {
  0% {
    left: 0;
    width: 0%;
  }

  100% {
    left: 2%;
    width: 39%;
  }
}
