section.home.fill-parent
  .top-content
    .home-image-wrapper
      photo-ball(size='200' faded='7' src='config.home.centerImageUrl')
    .name-title
      | Mika Kalathil
  nav.navigation
    .home-nav
      navigation-items(menu-items='config.menuItems')
