.home {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);

  .icons {
    @include display(flex);
    @include justify-content(flex-end);

    .github,
    .linkedin {
      @include size(25px);
      @include transition(all .5s ease-in-out);
    }

    .github {
      margin-right: .5em;

      &:hover {
        @include filter(invert(.5));
      }
    }

    .linkedin {
      &:hover {
        @include filter(brightness(120%));
      }
    }

    .image {
      width: 100%;
    }
  }

  .top-content {
    @include display(flex);
    @include justify-content(center);
    width: 100%;
  }

  .fade-in {
    opacity: 0;

    &.active {
      @include animation(fade-in 1s forwards ease-in-out);
    }
  }

  .home-image-wrapper {
    position: relative;
    right: 3.5%;

    &.animation {
      right: 0%;
    }

    &.active {
      @include animation(image-slide 2s forwards ease-in-out);
    }
  }

  .title-details {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: $medium-gray;
    margin-top: .5em;
    left: 2%;
    width: em(495);

    &.animation {
      width: 0;
      left: 0;
    }

    &.active {
      @include animation(title-slide 2s forwards ease-in-out);
    }

    .name {
      font-size: golden-ratio(45px, 0);
      height: 1.3em;

      @include media($medium-screen) {
        font-size: golden-ratio(45px, 1);
      }

      @include media($lg-medium-screen) {
        font-size: golden-ratio(45px, 1);
      }
    }

    .subtite {
      position: relative;
      float: left;
      font-size: golden-ratio(45px, -1);
      overflow: hidden;
      height: .9em;
      line-height: .9em;
      width: em(115);
      left: 1%;

      &.animation {
        width: 0;
        left: 42%;
      }

      &.active {
        @include animation(subtitle-slide 1s forwards ease-in-out);
      }
    }

    .contact-details {
      padding-left: 2.2em;
      float: left;
      font-size: golden-ratio(45px, -2);
    }

    .email {
      a {
        @include transition(all .3s ease-in-out);
        color: $light-gray;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .navigation-items {
    @include justify-content(center);
  }

  .navigation {
    @include span-columns(10);
    margin-top: em(80);
    color: $light-gray;

    .item {

      &:not(:first-child):not(:last-child) {
        margin-right: 5em;
        margin-left: 5em;
      }

      a {
        @include transition(all .3s ease-in-out);
        font-family: Tarantella;
        font-size: 2.5em;
        color: $medium-gray;

        @include media($medium-screen) {
          font-size: 3em;
        }

        @include media($lg-medium-screen) {
          font-size: 4em;
        }
      }
    }

    .home-nav {
      a {
        position: relative;

        &:after {
          @include transition(all .4s ease-in-out);
          @include size(100%);
          content: attr(data-content);
          white-space: nowrap;
          position: absolute;
          overflow: hidden;
          line-height: 1em;
          color: $red;
          width: 0;
          height: 97%;
          left: 0;
          bottom: 0;
          top: 0;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}

@include keyframes(subtitle-slide) {
  0% {
    left: 40%;
    width: 0;
  }

  100% {
    width: em(115);
    left: 1%;
  }
}

@include keyframes(image-slide) {
  0% {
    right: 0;
  }

  100% {
    right: 3.5%
  }
}

@include keyframes(title-slide) {
  0% {
    left: 0;
    width: 0%;
  }

  100% {
    left: 2%;
    width: em(495);
  }
}
