section.home.fill-parent
  .top-content
    .home-image-wrapper#image
      photo-ball(size='200' faded='7' src='config.home.centerImageUrl')
    .title-details#title
      .name
        | Mika Kalathil
      .subtite#subtitle
        | Web Developer
      .contact-details
        .email(ng-show='config.email')#email
          | Email: <a ng-href="{{'mailto:' + config.email}}">{{config.email}}</a>
        .icons
          a.github#git(ng-href='{{config.github.url}}' ng-show='config.github.url' target='_blank')
            img.image(ng-src='{{config.github.logoHigh}}' ng-onerror='{{config.github.logoLow}}' alt='github-logo')
              
          a.linkedin#linkedin(ng-href='{{config.linkedin.url}}' ng-show='config.linkedin.url' target='_blank')
            img.image(ng-src='{{config.linkedin.logoHigh}}' ng-onerror='{{config.linkedin.logoLow}}' alt='linkedin-logo')
  nav.navigation
    .home-nav
      navigation-items(menu-items='config.menuItems')
