section.about
  .personal-image
    photo-ball(size='300' faded='7' src='config.home.centerImageUrl')
  .bio
    p.
      At a young age I knew I wanted to become a developer. I was a huge gamer before and I would 
      always think about the logic and code behind them as I played. Since then I’ve jumped into the 
      developer world and after learning a bit about game development, I decided it wasn’t for me 
      (I still attempt it again from time to time). But 
      I did realize that programming code was something I wanted to do long term.
    p.
      Before I started Lighthouse I was independently learning how to code. My main focus was on 
      C# and after some time Ruby on Rails. Eventually, I got to the point where it was hard to find 
      information on my problems during coding and online resources were very, if non-existent, 
      limited. That’s when I decided to apply to Lighthouse Labs. 
    p.
      In Lighthouse Labs I got the opportunity to develop my programming skill even further. I also got 
      to extend my knowledge of the web and different programming paradigms. During my time at 
      lighthouse I confirmed that programming is very important to me. It’s something I want to do for 
      the rest of my life. The continuos learning is both fun and provides a certain challenge that 
      makes work exciting.
