section.about
  .personal-image
    photo-ball(src='config.home.centerImageUrl')
  .bio
    p.
      At a young age I knew I wanted to become a developer. I was a huge gamer 
      before and I would always think about the logic and code behind them as I 
      played. Since then I’ve jumped into the developer world and after learning 
      a bit about game development, I decided it wasn’t for me (I still attempt 
      it again from time to time). However, I did realize that programming code 
      was something I wanted to do long term.
    p.
      When I first started learning to code, my main focus was on C# using 
      Visual Studio and after some time Ruby on Rails. Eventually, I got to the 
      point where it was hard to find information on my problems during coding 
      and online resources were very, if non-existent, limited. That’s when I
      decided to go to Lighthouse Labs. 
    p.
      During Lighthouse Labs I got the opportunity to develop my programming skill 
      even further. I also got to extend my knowledge of the web and different 
      programming paradigms. While there I confirmed that programming is very 
      important to me. It’s something I want to do for the rest of my life. The 
      continuos learning is both fun and provides a certain challenge that 
      makes work exciting.
    p.
      I love using Angular and Rails for projects and I have an obsession with
      trying to make my code as clean as possible! Some of my many current areas 
      of interests include wearable tech, machine learning, responsive design, 
      javascript and ruby.
      
