.project {
  @include span-columns(12);
  background-color: $dark-gray;
  padding: 0 1.5em;
  padding-bottom: 1em;
  font-size: .8em;

  @include media(min-width 568px) {
    font-size: 1em;
  }

  &:hover {
    .project-image .description {
      opacity: 1;
    }

    .project-image .github-url {
      opacity: 1;
    }
  }

  hr {
    border-color: $medium-gray;
    margin: 0;
    border-height: 1px;
  }

  .title {
    @include transition(all .2s ease-in-out);
    padding-top: .25em;
    text-align: center;
    margin-bottom: .25em;
    color: $light-gray;
  }

  .project-image {
    @include span-columns(12);
    height: 63.5%;
    margin-top: 1.5em;
    position: relative;

    > img {
      min-height: 172px;
    }

    img {
      width: 100%;
    }

    .description {
      @include transition(all .5s ease-in-out);
      padding-top: em(10);
      font-size: 1em;
      position: absolute;
      top: 0;
      opacity: 0;
      height: 100%;
      color: $medium-gray;
      background-color: rgba($dark-gray, 1);

      @include media($medium-screen) {
        font-size: .7em;
      }

      @include media($large-screen) {
        font-size: .9em;
      }
    }

    .languages {
      left: 0;
      bottom: 0;
    }

    .frameworks {
      left: 0;
      bottom: 1.2em;

      @include media(min-width 568px) {
        left: initial;
        right: 0;
        bottom: 0;
      }
    }

    .github-url {
      @include transition(all .5s ease-in-out);
      margin: auto;
      opacity: 0;
      left: 0;
      bottom: 2em;
      right: 0;
      width: 12.5%;
      height: 22%;
      z-index: 99;

      @include media(min-width 568px) {
        bottom: 0;
      }

      img {
        position: relative;
        bottom: 1.3em;

        @include media($large-screen) {
          bottom: 3em;
        }
      }

      &:hover {
        @include filter(invert(.5));
      }
    }

    .languages,
    .frameworks,
    .github-url {
      color: $light-gray;
      position: absolute;
      font-size: .6em;

      @include media($medium-screen) {
        font-size: 1em;
      }

      @include media($lg-medium-screen) {
        font-size: 8px;
      }

      @include media(min-width 1150px) {
        font-size: 10px;
      }

      @include media($extra-large-screen) {
        font-size: .7em;
      }

      strong {
        font-weight: bolder;
        color: $medium-gray;
      }
    }
  }
}
