a(ng-href='{{::data.url}}' target='_blank')
  .project
      
    h3.title {{ ::data.title }}
    
    
    hr(ng-show='data.imageUrls[0]')

    .project-image
      img(ng-src='{{data.imageUrls[0]}}')
      .description(ng-show='data.description') 
        | {{ ::data.description }}
        
        .languages(ng-show='data.languages')
          strong
            | Languages: 
          | {{ ::data.languages | commaWords }}
        .frameworks(ng-show='data.frameworks')
          strong
            | Frameworks: 
          | {{ ::data.frameworks | commaWords }}
