doctype html
html(ng-app='personalSite' ng-class='pageName')
  head
    meta(charset="utf-8")
    meta(name="description" content="Mika Kalathil is a developer. His current interests include wearable tech, machine learning, responsive design, creating websites using angular, ruby and sass.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(rel="author" href='https://plus.google.com/u/0/101662310373136763168')
    meta(rel="publisher" href='https://plus.google.com/u/0/101662310373136763168')
    meta(name="robots" content="index, follow")
    meta(property='fb:admins' content="650330702")
    link(href="http://mikakalathil.com/" rel="canonical")
    link(href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css')
    
    //[if lt IE 9]
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript")

    // inject:vendor:css
    // endinject
    // inject:custom:css
    // endinject
    title Mika Kalathil
    base(href="/")
  body(ng-class='pageName' ng-controller='siteControlCtrl' fullscreen-background='{{config.backgroundUrl}}')
    navbar(shown='{{showNavbar}}' menu-items='config.menuItems')
    section(ui-view)
    
    // inject:vendor:js
    
    // endinject

    // inject:custom:js

    // endinject


    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48617207-5', 'auto');
      ga('send', 'pageview');
