.projects {
  @include span-columns(12);
  
  .projects-container {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    padding-bottom: 1em;

    .project-wrapper {
      @include span-columns(4);
      @include clearfix;
      height: percentage(312 / 1259);
      opacity: .6;
      padding-top: 2.5em;

      &:nth-child(odd) {
        margin-left: 12.5%;
      }

      &:nth-child(even) {
        margin-right: 12.5%;
      }
    }
  }
}
