.projects {
  @include span-columns(12);

  .projects-container {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    padding-bottom: 1em;

    .project-wrapper {
      @include shift(2);
      @include span-columns(8);

      height: percentage(312 / 1259);
      opacity: .6;
      padding-top: 2.5em;

      @include media($lg-medium-screen) {
        @include shift(0);
        @include span-columns(4);
      }

      @include media($lg-medium-screen) {
        &:nth-child(odd) {
          margin-left: 12.5%;
        }

        &:nth-child(even) {
          margin-right: 12.5%;
        }
      }
    }
  }
}
